/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 oct. 2019, 13:43:25
    Author     : stagiaire
*/
/*.background{
    background-image: url(bank.jpg);
    background-size: cover;
    
    -webkit-filter: blur(2px);
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-position: center;
  background-repeat: no-repeat;
 
}

.over{
    z-index: 2;
    text-align: center;
}
*/